.cards {
  display: flex;
}

.title {
  /* color: #0f1025;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 10;
  letter-spacing: 0.1em;
  margin: 0 0 15px 0;
  padding: 0;

  font-weight: 300;
  color: #0f1025;
  text-transform: uppercase;
  display: block;
  text-align: center;
  letter-spacing: 0.1em; */
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 10;
  letter-spacing: 0.1em;
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 10;
  color: #0f1025;
  text-transform: uppercase;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1200px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  padding: 0 !important;
}
.section-content {
  margin-top: 30px;
}

.col-full {
  width: 100%;
}
.text-center {
  text-align: center;
}

.column,
.col-full,
.col-1-2,
.col-1-3,
.col-2-3,
.col-1-4,
.col-3-4,
.col-1-5,
.col-2-5,
.col-3-5,
.col-1-6 {
  float: left;
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.section h4,
.section-alt h4 {
  font-size: 1em;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.skill-container {
  display: inline-block;
  padding: 25px;
}

.col-2-3 {
  width: 66.66666666666666%;
}
.section-content {
  margin-top: 30px;
}
.row,
.col-wrap {
  margin-left: auto;
  margin-right: auto;
  padding: 0 !important;
}

.line {
  display: block;
  width: 290px;
  height: 3px;
  padding: 0 !important;
  background: #f08b65;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
  background-color: #f08b65;
}

#node {
  color: #7fbd42;
}

#react {
  color: #62d9fa;
}

#javascript {
  color: #f3a72f;
}

#python {
  color: #0861a5;
  /* background: -webkit-linear-gradient(#eee, #333); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#java {
  color: #e76f00;
}

#angular {
  color: red;
}

#para {
  -webkit-font-smoothing: antialiased;
  color: #000000b9;
  line-height: 1.3;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-size: 20px;
  margin: 0px;
}
