.contactMe {
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.form-container {
  width: 500px;
  margin: 0 auto;
  clear: both;
}

.form-container input {
  width: 100%;
  clear: both;
}
:last-child #subject-contact {
  width: 450px;
  padding: 10px;
  margin: 5px;
  resize: none;
  font-family: monospace;
}
#ta-body {
  width: 450px;
  padding: 10px;
  margin: 5px;
  resize: none;
  font-family: monospace;
}

#email-contact {
  width: 450px;
  padding: 10px;
  font-family: monospace;

  margin: 15px;
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateY(4px) rotate(2deg);
    transform: translateY(4px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateY(-4px) rotate(-2deg);
    transform: translateY(-4px) rotate(-2deg);
  }
}
