/* * {
  box-sizing: border-box;
} */

.img-container {
  float: left;
  width: 30%;
  padding: 1rem;
  padding-top: 4rem;
  position: relative;
}

.clearfix {
  box-sizing: border-box;
  margin: 6%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#titleWork {
  /* font-family: "eurostile", sans-serif; */
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  margin: 0 0 15px 0;
  padding: 0;
  color: #0f1025;
  /* text-transform: uppercase; */
  display: block;
  text-align: center;
}

#workImage {
  opacity: 1;
  display: block;
  width: 25.5vw;
  box-shadow: 10px 10px 5px grey;
  height: 215px;
  /* height: auto; */
  transition: 0.1s ease;
  backface-visibility: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 56%;
  left: 45%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .middle {
  opacity: 1;
}

.img-container:hover .desc-text {
  opacity: 0;
}

.text {
  background-color: #0f1025;
  border-radius: 4%;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.desc-text {
  position: absolute;
  color: white;
  font-size: 20px;

  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ribbon {
  position: absolute;
  right: 54px;
  top: 60px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  /* background: #fd580c; */
  /* background: linear-gradient(#ff874f 0%, #f84e1a 100%); */
  background: rgba(255, 255, 255, 0.822);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79a70a;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

/* hover effect */

.details {
  font-size: 16px;
  padding: 12px;
  color: #fff;
  position: absolute;
  bottom: 0;
  /* background: #0f1025; */
  /* background: linear-gradient(to bottom, white, rgba(255, 0, 0, 0)); */
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  left: 16px;
  z-index: 3;
  /* max-width: 269px; */
  /* max-width: 372px; */
  max-width: 24vw;
  text-align: left;
  border-radius: 12px;
  opacity: 0;
  margin-bottom: 16px;
  cursor: pointer;
}

.details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.details .title {
  line-height: 1;
  font-weight: 600;
  font-size: 2em;
}

.details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 1em;
}

.img-container:hover:before,
.img-container:hover span {
  opacity: 1;
}

.img-container:hover:before {
  top: 50%;
}

.img-container:hover .details {
  opacity: 1;
}

.img-container:hover #infoProject {
  top: 0;
}
.img-container:hover #titleProject {
  top: 0;
}

.img-container:hover #titleProject .details {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.img-container:hover #infoProject .details {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

#infoProject {
  /* line-height: 1.2; */
  line-height: 1.3;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  margin-top: 5px;
  font-size: 1em;
  /* font-family: "Roboto", sans-serif;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    "Lucida Console", Monaco, monospace; */
  margin-left: 20px;
  -webkit-font-smoothing: antialiased;
}

#titleProject {
  margin-left: 10px;
  /* line-height: 1; */

  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 2em;
  /* font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif; */
  padding-left: 10px;
}

.arrowDown {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}

@media only screen and (max-width: 600px) {
  #infoProject {
    font-size: 1rem;
    margin-left: 0px;
  }

  #workImage {
    width: 280px;
    height: 180px;
    margin: auto;
    margin-top: 20px;
  }
}
