.root {
  font-family: roboto;
  color: #2f2f2f;
}

.about {
  /* color: #0f1025;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 10;
  letter-spacing: 0.1em;
  margin: 0 0 15px 0;
  padding: 0;

  font-weight: 10;
  color: #0f1025;
  text-transform: uppercase;
  display: block;
  text-align: center;
  letter-spacing: 0.1em; */
  /* font-family: "eurostile", sans-serif; */
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  margin: 0 0 15px 0;
  padding: 0;
  color: #0f1025;
  /* text-transform: uppercase; */
  display: block;
  text-align: center;
}

.cards {
  display: flex;
}

.myCard {
  margin: 0 auto;
}
h4 {
  font-family: "Quicksand", sans-serif;
}

.textContent {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  float: left;
  height: 100%;
  margin: 25px;
  -webkit-font-smoothing: antialiased;
  font-family: "Ropa Sans", sans-serif;
  /* font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif; */
}

.line {
  display: block;
  width: 200px;
  height: 3px;
  padding: 0 !important;
  background: #ccc;
}
#skills .line {
  background-color: #f08b65;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#card {
  margin: 0 auto;
  display: inline-block;
}

#para {
  padding-left: 15%;
  padding-right: 15%;
  margin: auto;
  font-family: "Ropa Sans", sans-serif;
}

#downArrow {
  cursor: pointer;
}
